
	<%= link_to("<<Back to list", {:action => 'index'}) %>

	<h2>Delete User Details</h2> 

	<%= form_tag({:action => 'destroy', :id => @register.id}) do %>
		<p>Are you sure you want to permanently delete this user?</p> 
		<p><%= @register.first_name %></p>
		<%= submit_tag "Delete User",class: "btn btn-danger" %>	
	<% end %>