 
	<%= link_to("<<Back to list", {:action => 'index'}) %>
	<h2>Enter User Details</h2>

	<%= form_for(:register, :url => {:action => 'create'}) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>		
		<%= submit_tag "Create User", class: "btn btn-default" %>
	<% end %>
