
<%= link_to("<<Back to list", {:action => 'index'}) %>

	<h2>Delete Subcategory Details</h2> 

	<%= form_tag({:action => 'destroy', :id => @coupon.id }) do %>
		<p>Are you sure you want to permanently delete this Coupon?</p> 
		<p><%= @coupon.coupon_code %></p>
		<%= submit_tag "Delete Coupon",class: "btn btn-danger" %>	
	<% end %>