
<%= link_to("<<Back to list", {:action => 'index'}) %>

	<h2>Delete Subcategory Details</h2> 

	<%= form_tag({:action => 'destroy', :id => @subcategory.id }) do %>
		<p>Are you sure you want to permanently delete this Subcategory?</p> 
		<p><%= @subcategory.name %></p>
		<%= submit_tag "Delete Subcategory",class: "btn btn-danger" %>	
	<% end %>