
<%= link_to("<<Back to list", {:action => 'index'}) %>
	<h2>Enter Subcategory Details</h2>

	<%= form_for(:subcategory, :url => {:action => 'create'}) do |f| %>
		<%= render(:partial => "form", :locals => {:f => f}) %>		
		<%= submit_tag "Create Subcategory", class: "btn btn-default" %>
	<% end %>