
<%= link_to("<<Back to List", {:action => 'index'}) %>

<h2>Subcategory Details</h2>
<table class="table table-striped">
		<tr>
			<th>Category ID</th> 
			<td><%= @subcategory.category_id %></td>
		</tr>
		<tr>
			<th>Subcategory Name</th>
			<td><%= @subcategory.name %></td> 
		</tr>
		<tr>
			<th>Description</th>
			<td><%= @subcategory.description %></td> 
		</tr>
</table>